<h1>Read Form</h1>
<p>test id: {{formRead.formId}}</p>

<md-content layout="row" class="md-padding buttondemoBasicUsage">
    <div flex="10"></div>
    <div flex="80">
        <form name="readForm">
            <div layout="row">
                <div flex="10" layout="row" layout-align="center center">
                    <span>Job Description</span>
                </div>
                <div flex="90">
                    <section layout="row">
                        <md-input-container flex>
                            <label>Job Description</label>
                            <input ng-model="formRead.article.jobDescription"
                                   type="text">
                        </md-input-container>
                    </section>
                </div>
            </div>

            <div layout="row">
                <div flex="10" layout="row" layout-align="center center">
                    <span>Role Type</span>
                </div>
                <div flex="90">
                    <section layout="column" layout-sm="column" layout-align="center start">
                        <md-radio-group ng-model="formRead.article.roleType">
                            <md-radio-button value="Permanent" class="md-primary">Permanent</md-radio-button>
                            <md-radio-button value="Contract"> Contract </md-radio-button>
                        </md-radio-group>
                    </section>
                </div>
            </div>

            <div layout="row">
                <div flex="10" layout="row" layout-align="center center">
                    <span>Pay Bracket Between</span>
                </div>
                <div flex="45">
                    <section layout="row">
                        <md-input-container flex>
                            <label>Lower bound</label>
                            <input ng-model="formRead.article.payBracketLower" type="number">
                        </md-input-container>
                    </section>
                </div>
                <div flex="45">
                    <section layout="row">
                        <md-input-container flex>
                            <label>Upper bound</label>
                            <input ng-model="formRead.article.payBracketUpper" type="number">
                        </md-input-container>
                    </section>
                </div>
            </div>

            <div layout="row">
                <div flex="10" layout="row" layout-align="center center">
                    <span>Location Description</span>
                </div>
                <div flex="90">
                    <section layout="row">
                        <md-input-container flex>
                            <label>Location</label>
                            <input ng-model="formRead.article.locationDescription" type="text">
                        </md-input-container>
                    </section>
                </div>
            </div>

            <div layout="row">
                <div flex="10" layout="row" layout-align="center center">
                    <span>Required Skills</span>
                </div>
                <div flex="90">
                    <section layout="column">
                        <md-chips
                                ng-model="formRead.article.skills"
                                placeholder="Enter a tag"
                                delete-button-label="Remove Tag"
                                delete-hint="Press delete to remove tag"
                                secondary-placeholder="+Tag">
                        </md-chips>
                    </section>
                </div>
            </div>

            <div layout="row">
                <div flex="10" layout="row" layout-align="center center"></div>
                <div flex="90">
                    <section layout="row" layout-align="start center">
                        <md-button class="md-raised md-primary"
                                   ng-click="formRead.submitJobToCandidate()">Submit</md-button>
                    </section>
                </div>
            </div>
            <div class="messages" ng-if="formRead.submitmessage" ng-cloak>
                {{formRead.submitmessage}}
            </div>
        </form>
    </div>
    <div flex="10"></div>
</md-content>
