<md-dialog aria-label="Job Opportunity {{formRead.jobDetailFormId}}"  ng-cloak>
    <form class="recruitunit-read">
        <md-toolbar class="{{formRead.isItemPass ? '' : 'md-warn md-hue-3'}}">
            <div class="md-toolbar-tools" ng-switch on="formRead.isItemPass">
                <h2 ng-switch-when="false"><md-icon md-svg-icon="social:mood_bad" aria-label="Happy face"></md-icon> Failed - {{formRead.article.jobDescription}}</h2>
                <h2 ng-switch-default><md-icon md-svg-icon="social:mood" aria-label="Happy face"></md-icon> Passed - {{formRead.article.jobDescription}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="formRead.cancelDialog()">
                    <md-icon md-svg-icon="content:clear" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div flex>
                    <form name="readForm">
                        <div layout="row">
                            <div flex="20" layout="row" layout-align="start center">
                                <span>Job Description</span>
                            </div>
                            <div flex>
                                <section layout="row">
                                    <md-input-container flex>
                                        <label>Description</label>
                                        <input ng-model="formRead.article.jobDescription"
                                               type="text"
                                               ng-readonly="true">
                                    </md-input-container>
                                </section>
                            </div>
                        </div>

                        <div layout="row">
                            <div flex="20" layout="row" layout-align="start center">
                                <span>Submitted By</span>
                            </div>
                            <div flex>
                                <section layout="row">
                                    <md-input-container flex>
                                        <label>Authors Email address</label>
                                        <input ng-model="formRead.article.authorEmail"
                                               type="text"
                                               ng-readonly="true">
                                    </md-input-container>
                                </section>
                            </div>
                        </div>


                        <div layout="row">
                            <div flex="20" layout="row" layout-align="start center">
                                <span>Role Type</span>
                            </div>
                            <div flex>
                                <section layout="column" layout-sm="column" layout-align="center start">
                                    <md-radio-group ng-model="formRead.article.roleType">
                                        <md-radio-button value="Permanent" class="md-primary" ng-disabled="true">Permanent</md-radio-button>
                                        <md-radio-button value="Contract" ng-disabled="true"> Contract </md-radio-button>
                                    </md-radio-group>
                                </section>
                            </div>
                        </div>

                        <div layout="row">
                            <div flex="20" layout="row" layout-align="start center">
                                <span>Pay Bracket Between</span>
                            </div>
                            <div flex="20">
                                <section layout="row">
                                    <md-input-container flex>
                                        <label>Pay as per</label>
                                        <md-select ng-disabled="true" ng-model="formRead.article.roleType" ng-model-options="{trackBy: '$value'}">
                                            <md-option ng-repeat="option in formRead.payFrequencyOptions track by option.id" ng-value="option.id">
                                                {{option.value}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </section>
                            </div>
                            <div flex="30">
                                <section layout="row">
                                    <md-input-container flex>
                                        <label>Lower bound</label>
                                        <input ng-model="formRead.article.payBracketLower" type="number" ng-readonly="true">
                                    </md-input-container>
                                </section>
                            </div>
                            <div flex="30">
                                <section layout="row">
                                    <md-input-container flex>
                                        <label>Upper bound</label>
                                        <input ng-model="formRead.article.payBracketUpper" type="number" ng-readonly="true">
                                    </md-input-container>
                                </section>
                            </div>
                        </div>

                        <div layout="row">
                            <div flex="20" layout="row" layout-align="start center">
                                <span>Location Description</span>
                            </div>
                            <div flex>
                                <section layout="row">
                                    <md-input-container flex>
                                        <label>Location</label>
                                        <input ng-model="formRead.article.locationDescription" type="text" ng-readonly="true">
                                    </md-input-container>
                                </section>
                            </div>
                        </div>

                        <div layout="row">
                            <div flex="20" layout="row" layout-align="start center">
                                <span>Required Skills</span>
                            </div>
                            <div flex>
                                <section layout="column">
                                    <md-chips
                                            ng-model="formRead.article.skills"
                                            placeholder="Enter a tag"
                                            delete-button-label="Remove Tag"
                                            delete-hint="Press delete to remove tag"
                                            secondary-placeholder="+Tag"
                                            readonly="true">
                                    </md-chips>
                                </section>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>