<div class="heading" layout-align="center start" layout="row">
    <div flex-gt-sm="50" flex-sm="66" flex="100">
        <h1 class="md-display-3">Recruit Unit</h1>
        <p class="md-body-1">Unit tests for job notifications. Connecting developers and recruiters through testable forms.</p>
    </div>
</div>
<!--<div style="overflow: hidden;">-->
    <!--<img style="position:absolute; width:100%;" src="/assets/signup-background.png" class="md-card-image">-->
<!--</div>-->
<div class="blue-grey-background"  layout-align="center start" layout="row">
    <md-card class="md-whiteframe-z4 recruitunit-homepage" flex-gt-sm="50" flex-sm="66" flex="100">
        <md-card-content>
            <form name="createUser">
                <div layout="row">
                    <div flex="30" layout="row" layout-align="left center" class="row-label">
                        <span>User Name</span>
                    </div>
                    <div flex="70">
                        <section layout="row">
                            <md-input-container flex>
                                <label>name</label>
                                <input ng-model="home.user.displayName">
                            </md-input-container>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30" layout="row" layout-align="left center" class="row-label">
                        <span>Email Address</span>
                    </div>
                    <div flex="70">
                        <section layout="row">
                            <md-input-container flex>
                                <label>email</label>
                                <input ng-model="home.user.email"
                                       type="email">
                            </md-input-container>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30" layout="row" layout-align="left center" class="row-label">
                        <span>Role</span>
                    </div>
                    <div flex="70">
                        <section layout="row">
                            <md-radio-group ng-model="home.user.jobRole">
                                <md-radio-button ng-repeat="role in home.roles" ng-value="role" aria-label="role">
                                    {{role}}
                                </md-radio-button>
                            </md-radio-group>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30" layout="row" layout-align="left center" class="row-label">
                        <span>Password</span>
                    </div>
                    <div flex="70">
                        <section layout="row">
                            <md-input-container flex>
                                <label>password</label>
                                <input ng-model="home.user.password"
                                       type="password">
                            </md-input-container>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30" layout-align="left center">
                        <section layout="row">
                            <md-button class="md-raised md-primary" ng-click="home.createNewUser()">Sign me up</md-button>
                        </section>
                    </div>
                </div>
                <div class="messages" ng-if="home.submitmessage" ng-cloak>
                    {{home.submitmessage}}
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
<div class="features-banner" layout-align="center start" layout="row">
    <div flex-gt-sm="50" flex-sm="66" flex="100">
        <h1 class="md-display-3">Features</h1>
        <p class="md-body-1">User friendly and secure. Focused functionality to make sure new job notifications contain the detail you need.</p>
    </div>
</div>
<div class="features-padding blue-grey-background background-rotated-y" layout="row" layout-align="center" flex>
    <div flex-gt-md="100" flex-gt-sm="50" flex-sm="100" flex="100">
        <md-grid-list md-cols-lg="3" md-cols-md="2" md-cols-sm="2" md-cols-xs="1" md-gutter="10px" md-row-height="2:1">
            <md-grid-tile class="md-whiteframe-6dp blue">
                <p>Clearly lists important job details to prevent you having to ask the awkward questions</p>
                <!--<md-grid-tile-footer><p>Button</p></md-grid-tile-footer>-->
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-6dp blue">
                <p>Configurable test parameters to automatically check job submissions against your criteria</p>
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-6dp blue">
                <p>Secure. Only you can see the jobs submitted to you</p>
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-6dp blue">
                <p>Control who can view your email address</p>
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-6dp blue">
                <p>View and manage your listings to immediatley see which jobs pass or fail your test criteria </p>
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-6dp blue">
                <p>Responsive design for easy viewing across devices</p>
            </md-grid-tile>
    </md-grid-list>
    </div>
</div>