<div>
    <img style="position:absolute; width:100%;" src="http://lorempixel.com/g/600/200/" class="md-card-image" alt="image caption">
</div>

<div layout-align="center start" layout="row">

    <md-card class="md-whiteframe-z4 buttondemoBasicUsage" flex="66">
        <!--<img src="http://lorempixel.com/g/600/200/" class="md-card-image" alt="image caption">-->
        <h1>Test Heading</h1>
        <md-card-content>
            <form name="createUser">
                <div layout="row">
                    <div flex="10" layout="row" layout-align="center center">
                        <span>User Name</span>
                    </div>
                    <div flex="90">
                        <section layout="row">
                            <md-input-container flex>
                                <label>name</label>
                                <input ng-model="home.user.displayName">
                            </md-input-container>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="10" layout="row" layout-align="center center">
                        <span>Email Address</span>
                    </div>
                    <div flex="90">
                        <section layout="row">
                            <md-input-container flex>
                                <label>email</label>
                                <input ng-model="home.user.email"
                                       type="email">
                            </md-input-container>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="10" layout="row" layout-align="center center">
                        <span>Role</span>
                    </div>
                    <div flex="90">
                        <section layout="row">
                            <md-radio-group ng-model="home.user.jobRole">
                                <md-radio-button ng-repeat="role in home.roles" ng-value="role" aria-label="role">
                                    {{role}}
                                </md-radio-button>
                            </md-radio-group>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="10" layout="row" layout-align="center center">
                        <span>Password</span>
                    </div>
                    <div flex="90">
                        <section layout="row">
                            <md-input-container flex>
                                <label>password</label>
                                <input ng-model="home.user.password"
                                       type="password">
                            </md-input-container>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="10" layout="row" layout-align="center center"></div>
                    <div flex="90">
                        <section layout="row" layout-align="start center">
                            <md-button class="md-raised md-primary" ng-click="home.createNewUser()">Sign me up</md-button>
                        </section>
                    </div>
                </div>
                <div class="messages" ng-if="home.submitmessage" ng-cloak>
                    {{home.submitmessage}}
                </div>
            </form>
        </md-card-content>
        <md-card-footer>
            Card footer
        </md-card-footer>
    </md-card>

</div>

<md-grid-list md-cols-gt-md="3" md-cols-md="2" md-cols-sm="1" md-gutter="12px" md-row-height="2:1">
    <md-grid-tile class="blue">
        <md-grid-tile-header>
            <h3>Heading</h3>
        </md-grid-tile-header>
        <p>Lorem Ipsum. Sit amet, consectetur adipiscing elit. Maecenas felis libero, pretium sed risus</p>
    </md-grid-tile>
    <md-grid-tile class="blue">
        <md-grid-tile-header>
            <h3>Heading</h3>
        </md-grid-tile-header>
        <p>Lorem Ipsum. Sit amet, consectetur adipiscing elit. Maecenas felis libero, pretium sed risus</p>
    </md-grid-tile>
    <md-grid-tile class="blue">
        <md-grid-tile-header>
            <h3>Heading</h3>
        </md-grid-tile-header>
        <p>Lorem Ipsum. Sit amet, consectetur adipiscing elit. Maecenas felis libero, pretium sed risus</p>
    </md-grid-tile>
</md-grid-list>
