<h1>Job Comparison Rules</h1>

<md-content layout="row" class="md-padding buttondemoBasicUsage">
    <div flex="10"></div>
    <div flex="80">
        <form name="comparisonRuleForm">

            <div layout="row">
                <div layout="row" layout-padding layout-align="left center">
                    <md-checkbox ng-click="comparisonRule.toggleRoleType('permanent')"
                                 ng-checked="comparisonRule.existsRoleType('permanent')">
                        Test against
                    </md-checkbox>

                </div>
                <div layout="row" layout-padding layout-align="left center">
                    <span>Role Type</span>
                </div>
                <div flex>
                    <section layout="column" layout-sm="column" layout-align="center start">
                            <md-checkbox ng-click="comparisonRule.toggleRoleType('permanent')"
                                         ng-checked="comparisonRule.existsRoleType('permanent')">
                                Permanent
                            </md-checkbox>
                            <md-checkbox ng-click="comparisonRule.toggleRoleType('contract')"
                                         ng-checked="comparisonRule.existsRoleType('contract')">
                                Contract
                            </md-checkbox>
                        </md-checkbox>
                    </section>
                </div>
            </div>

            <div layout="row">
                <div layout="row" layout-padding layout-align="left center">
                    <md-checkbox ng-click="comparisonRule.toggleRoleType('permanent')"
                                 ng-checked="comparisonRule.existsRoleType('permanent')">
                        Test against
                    </md-checkbox>
                </div>
                <div layout="row" layout-padding layout-align="left center">
                    <span>Pay Greater Than</span>
                </div>
                <div flex>
                    <section layout="row">
                        <md-input-container flex>
                            <label>Lowest acceptable amount</label>
                            <input ng-model="comparisonRule.article.payBracketLower.value" type="number">
                        </md-input-container>
                    </section>
                </div>
            </div>

            <div layout="row">
                <div layout="row" layout-padding layout-align="left center">
                    <md-checkbox ng-click="comparisonRule.toggleRoleType('permanent')"
                                 ng-checked="comparisonRule.existsRoleType('permanent')">
                        Test against
                    </md-checkbox>
                </div>
                <div layout="row" layout-padding layout-align="left center">
                    <span>Location Contains</span>
                </div>
                <div flex>
                    <section layout="column">
                        <md-chips
                                ng-model="comparisonRule.article.locationDescription.value"
                                placeholder="Add Locations to match against"
                                delete-button-label="Remove Tag"
                                delete-hint="Press delete to remove tag"
                                secondary-placeholder="+ City">
                        </md-chips>
                    </section>
                </div>
            </div>

            <div layout="row">
                <div layout="row" layout-padding layout-align="left center">
                    <md-checkbox ng-click="comparisonRule.toggleRoleType('permanent')"
                                 ng-checked="comparisonRule.existsRoleType('permanent')">
                        Test against
                    </md-checkbox>
                </div>
                <div layout="row" layout-padding layout-align="left center">
                    <span>Required Skills</span>
                </div>
                <div flex>
                    <section layout="column">
                        <md-chips
                                ng-model="comparisonRule.article.skills.value"
                                placeholder="Enter a tag"
                                delete-button-label="Remove Tag"
                                delete-hint="Press delete to remove tag"
                                secondary-placeholder="+ Skill">
                        </md-chips>
                    </section>
                </div>
            </div>

            <div layout="row">
                <div flex="10" layout="row" layout-align="left center"></div>
                <div flex="90">
                    <section layout="row" layout-align="start center">
                        <md-button class="md-raised md-primary"
                                   ng-click="comparisonRule.submitJobToCandidate()">Submit</md-button>
                    </section>
                </div>
            </div>
            <div class="messages" ng-if="comparisonRule.submitmessage" ng-cloak>
                {{comparisonRule.submitmessage}}
            </div>
        </form>
    </div>
    <div flex="10"></div>
</md-content>
