<div role="dialog" aria-label="Notification" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Notification</h2>
        </div>
    </md-toolbar>

    <div class="demo-dialog-content">
        <p ng-if="!contactMeDialog.isDisplayDevEmail">Display your email address to the recruiter so they can follow up on this job?</p>
        <p ng-if="contactMeDialog.isDisplayDevEmail">Don't display your email address to the recruiter?</p>
    </div>

    <div layout="row" class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" ng-click="contactMeDialog.toggleContactMe(contactMeDialog.docId, contactMeDialog.itemScope)">
            Confirm
        </md-button>
        <md-button md-autofocus flex class="md-primary" ng-click="contactMeDialog.closePanel()">
            Cancel
        </md-button>
    </div>
</div>