<div role="dialog" aria-label="Eat me!" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Surprise!</h2>
        </div>
    </md-toolbar>

    <div class="demo-dialog-content">
        <p>
            You hit the secret button.
        </p>
    </div>

    <div layout="row" class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" ng-click="requireComparisonFormDialog.closePanel()">
            Close
        </md-button>
    </div>
</div>