<div role="dialog" aria-label="Notification" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Notification</h2>
        </div>
    </md-toolbar>

    <div class="demo-dialog-content">
        <p>
           You need to setup your job requirements form.
        </p>
        <p>
            <a href="#" ng-click="requireComparisonFormDialog.navigateToUserRules(requireComparisonFormDialog.useremail)">Setup now</a>
        </p>
    </div>

    <div layout="row" class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" ng-click="requireComparisonFormDialog.closePanel()">
            Close
        </md-button>
    </div>
</div>