<h1>User Landing</h1>
<p>user email: {{userLanding.useremail}}</p>
<p>user role: {{userLanding.role}}</p>
<p>user id: {{userLanding.id}}</p>
<p>user name: {{userLanding.username}}</p>

<div layout-align="center start" layout="row">
    <md-card class="md-whiteframe-z4 buttondemoBasicUsage" flex="66">

        <md-card-title>
            <md-card-title-text>
                <img src="http://lorempixel.com/g/600/200/" alt="image caption">
                <span class="md-headline md-card-h1">{{userLanding.username}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" flex>
                <div layout="column" flex="33">
                    <div flex>Total</div>
                    <div>11</div>
                </div>
                <div layout="column" flex>
                    <div flex>
                        <div>Pass</div>
                        <div>6</div>
                    </div>
                    <div flex>
                        <div>Fail</div>
                        <div>5</div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>