<h1>User Landing</h1>
<p>user email: {{userLanding.useremail}}</p>
<p>user role: {{userLanding.role}}</p>
<p>user id: {{userLanding.id}}</p>
<p>user name: {{userLanding.username}}</p>

<div layout-align="center start" layout="row">
    <md-card class="md-whiteframe-z4 buttondemoBasicUsage" flex="66">

        <md-card-title>
            <md-card-title-text>
                <img src="http://lorempixel.com/g/600/200/" alt="image caption">
                <span class="md-headline md-card-h1">{{userLanding.username}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" class="totals-table" flex>
                <div layout="row" class="total row" flex="33">
                    <div layout="column" layout-align="center center" class="totals-heading">Total</div>
                    <div layout="column" layout-align="center center" class="totals-result" flex>{{userLanding.myContentList.length}}</div>
                </div>
                <div layout="column" flex>
                    <div layout="row" class="pass row" flex>
                        <md-icon layout="column" class="result-icon" md-svg-icon="action:done"></md-icon>
                        <div layout="column" class="totals-heading" flex>Pass</div>
                        <div layout="column" flex="70" class="totals-result">{{userLanding.myContentListPassCount}}</div>
                    </div>
                    <div layout="row" class="fail row" flex>
                        <md-icon layout="column" class="result-icon" md-svg-icon="content:clear"></md-icon>
                        <div layout="column" class="totals-heading" flex>Fail</div>
                        <div layout="column" flex="70" class="totals-result">{{userLanding.myContentListFailCount}}</div>
                    </div>
                </div>
            </div>
            <md-list class="totals-list">
                <md-subheader class="md-no-sticky">{{userLanding.myContentList.length}} items</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="item in userLanding.myContentList">
                    <div layout="row" flex>
                        <md-icon layout="column"
                                 class="result-icon"
                                 md-svg-icon="{{item.testResult.isPass || item.testResult.isPartialPass ? 'action:done' : 'content:clear'}}"
                                 ng-class="{'icon-pass':item.testResult.isPass, 'icon-fail':!item.testResult.isPass, 'partial-pass':item.testResult.isPartialPass}"></md-icon>
                        <div layout="column" class="md-list-item-text" flex="60">
                            <a href="#" ng-click="userLanding.showFormDetailDialog($event, 'id123456')">
                                <p class="job-description">{{item.document.jobDescription}}</p>
                            </a>
                            <p><i>{{item.document.payBracketLower}}</i> to <i>{{item.document.payBracketUpper}}</i> per year</p>
                        </div>
                        <div layout="column" class="md-list-item-text" flex="20">
                            <p>Submitted <i>{{userLanding.formatUnixDateToNow(item.document.createdDate)}}</i></p>
                        </div>
                        <div layout="column" class="" flex="10" layout-align="center center">
                            <md-menu>
                                <md-button aria-label="actions" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <md-icon md-menu-origin md-svg-icon="navigation:more_vert"></md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button aria-label="actions" ng-click="userLanding.viewItem(item.document.id)"> View </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button aria-label="actions" ng-click="userLanding.deleteItem(item.document.id)"> Delete </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>