html, body {
  font-family: 'Roboto', sans-serif;
  font-size:1em;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-sidenav md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 95%;
}
md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Homepage Card */
md-card-title .md-card-h1{
  position: relative;
  top: -100px;
  left: 10px;
  color: #f9f9f9;
}

md-card.recruitunit md-card-title{
  padding: 0;
  margin: 24px 16px 16px;
  overflow: hidden;
  max-height: 255px;
}

md-card.recruitunit div.cardheading-fab{
  position: relative;
  left: 60px;
  top: 25px;
}

.totals-table {
  font-size: 2em;
}
.totals-table .totals-heading {
  color: #FFFFFF;
}
.totals-table .totals-result {
  color: #2D2D2D;
}
.totals-table .row {
  margin: 5px 5px 0px 0px;
  padding: 20px 0px 20px 5px;
}
.totals-table .total{
  background-color: #c4c4c4;
}
.totals-table .pass{
  background-color: #008800;
}
.totals-table .fail{
  background-color: #aa0000;
}

.totals-list p.job-description{
  line-height: 1.10em !important;
  color: #464646 !important;
  font-size: 1.10em !important;
}
.totals-list .result-icon {
  margin-right: 20px;
}
.totals-list .icon-pass {
  color: #17FF00;
}
.totals-list .icon-fail.partial-pass {
  color: #BBBBBB;
}
.totals-list .icon-fail {
  color: #FF0000;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

md-toolbar.md-hue-3.md-warn .fail {
  color: #B71C1C;
}
md-toolbar .pass {
  color: #00C853;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

md-content {
  background: transparent;
}
.blue { background: #A2C9F6;}
.buttondemoBasicUsage {
  z-index: 50;
}
.buttondemoBasicUsage section {
  border-radius: 3px;
  margin: 1em;
  position: relative !important;
  padding-bottom: 5px;
  margin-top: 30px;}
.buttondemoBasicUsage md-content {
  margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
  margin: 16px 10px 16px 10px;}
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; 
  top: 40%;}

.move-up {
  width: 100%;
  position: relative;
  top: 150px;
  /*z-index: 99;*/
}

.summary h4{
  font-size: 5.0em;
  margin: 0px;
}

md-content > div > form > div > div > span {
  margin-bottom: 16px;
}

form md-chips {
  top: -15px;
  position: relative;
}

md-content form span.disabled {
  text-decoration: line-through;
  color: #C2C2C2;
}

md-chips.chipsDisabled .md-chip {
  background: #DBDBDB;
  color: #EEEEEE;
}

/* comparison list overrides */
md-list-item.md-no-proxy.md-button, md-list-item .md-no-style.md-button{
  padding-left: 0px;
  padding-top: 10px;
}