<!DOCTYPE html>
<html lang="en" >
	<head>
		<title>RecruitUnit - Submit Job To Developer</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
		<link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
		<link rel="stylesheet" href="assets/app.css"/>
		<style type="text/css">
			.buttondemoBasicUsage section {
				background: #f7f7f7;
				border-radius: 3px;
				margin: 1em;
				position: relative !important;
				padding-bottom: 10px; }
			.buttondemoBasicUsage md-content {
				margin-right: 7px; }
			.buttondemoBasicUsage section .md-button {
				margin: 16px 10px 16px 10px;}
			.buttondemoBasicUsage .label {
				position: absolute;
				bottom: 5px;
				left: 7px;
				font-size: 14px;
				opacity: 0.54; 
				top: 40%;}
		</style>
	</head>

  	<body ng-app="recruitUnitApp">
	    <md-toolbar layout="row" class="md-whiteframe-z1">
	      <md-button class="menu">
	        <md-icon md-svg-icon="./assets/svg/menu.svg"></md-icon>
	      </md-button>
	      <h1>Recruit Unit - Sign Up New User</h1>
	    </md-toolbar>
	    
	    <md-content layout="row" class="md-padding buttondemoBasicUsage">
			<div flex="10"></div>
			<div flex="80">
				<form name="createUser" ng-controller="CreateUserCtrl as ctrl">
					<div layout="row">
						<div flex="10" layout="row" layout-align="center center">
							<span>User Name</span>
						</div>
						<div flex="90">
							<section layout="row">
								<md-input-container flex>
									<label>name</label>
									<input 
										ng-model="ctrl.user.name">
								</md-input-container>
							</section>
						</div>
					</div>
					<div layout="row">
						<div flex="10" layout="row" layout-align="center center">
							<span>Email Address</span>
						</div>
						<div flex="90">
							<section layout="row">
								<md-input-container flex>
									<label>email</label>
									<input 
										ng-model="ctrl.user.email" 
										type="email">
								</md-input-container>
							</section>
						</div>
					</div>
					<div layout="row">
						<div flex="10" layout="row" layout-align="center center">
							<span>Password</span>
						</div>
						<div flex="90">
							<section layout="row">
								<md-input-container flex>
									<label>password</label>
									<input 
										ng-model="ctrl.user.password"
										type="password">
								</md-input-container>
							</section>
						</div>
					</div>
					<div layout="row">
						<div flex="10" layout="row" layout-align="center center"></div>
						<div flex="90">
							<section layout="row" layout-align="start center">
								<md-button class="md-raised md-primary" ng-click="ctrl.createNewUser()">Sign me up</md-button>
							</section>
						</div>
					</div>
					<div class="messages" ng-if="ctrl.submitmessage" ng-cloak>
						{{ctrl.submitmessage}}
					</div>

				</form>
			</div>
			<div flex="10"></div>
	    </md-content>

	    <!--Angular Material-->
		<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="./bower_components/angular-aria/angular-aria.js"></script>
		<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

		<!--Loom API-->
		<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="./bower_components/loom-api-angular/loom.api.ng.1.0.0.js"></script>
		
		<script type="text/javascript" src="./src/angular/recruitUnitApp.js"></script>
		<script type="text/javascript" src="./src/angular/controllers/CreateUserCtrl.js"></script>
		
  	</body>
</html>
