<!DOCTYPE html>
<html lang="en" >
	<head>
		<title>RecruitUnit - Submit Job To Developer</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
		<link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
		<link rel="stylesheet" href="assets/app.css"/>
		<style type="text/css">
			.buttondemoBasicUsage section {
				background: #f7f7f7;
				border-radius: 3px;
				margin: 1em;
				position: relative !important;
				padding-bottom: 10px; }
			.buttondemoBasicUsage md-content {
				margin-right: 7px; }
			.buttondemoBasicUsage section .md-button {
				margin: 16px 10px 16px 10px;}
			.buttondemoBasicUsage .label {
				position: absolute;
				bottom: 5px;
				left: 7px;
				font-size: 14px;
				opacity: 0.54; 
				top: 40%;}
		</style>
	</head>

  	<body ng-app="recruitUnitApp">
	    <md-toolbar layout="row" class="md-whiteframe-z1">
	      <md-button class="menu">
	        <md-icon md-svg-icon="./assets/svg/menu.svg"></md-icon>
	      </md-button>
	      <h1>Recruit Unit - Submit Form To Developer</h1>
	    </md-toolbar>
	    
	    <md-content layout="row" class="md-padding buttondemoBasicUsage">
			<div flex="10"></div>
			<div flex="80">
				<form name="submitJobFromRecruiter" ng-controller="SubmitJobCtrl as ctrl">
					<div layout="row">
						<div flex="10" layout="row" layout-align="center center">
							<span>Job Description</span>
						</div>
						<div flex="90">
							<section layout="row">
								<md-input-container flex>
									<label>Job Description</label>
									<input ng-model="ctrl.article.jobDescription"
										   type="text">
								</md-input-container>
							</section>
						</div>
					</div>

					<div layout="row">
						<div flex="10" layout="row" layout-align="center center">
							<span>Role Type</span>
						</div>
						<div flex="90">
							<section layout="column" layout-sm="column" layout-align="center start">
								<md-radio-group ng-model="ctrl.article.roleType">
								  <md-radio-button value="Permanent" class="md-primary">Permanent</md-radio-button>
								  <md-radio-button value="Contract"> Contract </md-radio-button>
								</md-radio-group>
							</section>
						</div>
					</div>

					<div layout="row">
						<div flex="10" layout="row" layout-align="center center">
							<span>Pay Bracket Description</span>
						</div>
						<div flex="90">
							<section layout="row">
								<md-input-container flex>
								  <label>Pay Bracket</label>
								  <input ng-model="crtl.article.payBracketLower" type="number">
								</md-input-container>
							</section>
						</div>
					</div>

					<div layout="row">
						<div flex="10" layout="row" layout-align="center center">
							<span>Location Description</span>
						</div>
						<div flex="90">
							<section layout="row">
								<md-input-container flex>
								  <label>Location</label>
								  <input ng-model="ctrl.article.locationDescription" type="text">
								</md-input-container>
							</section>
						</div>
					</div>

					<div layout="row">
						<div flex="10" layout="row" layout-align="center center">
							<span>Required Skills Description</span>
						</div>
						<div flex="90">
							<section layout="column">
								<md-chips
									ng-model="ctrl.article.skills"
									placeholder="Enter a tag"
									delete-button-label="Remove Tag"
									delete-hint="Press delete to remove tag"
									secondary-placeholder="+Tag">
								</md-chips>
							</section>
						</div>
					</div>

					<div layout="row">
						<div flex="10" layout="row" layout-align="center center"></div>
						<div flex="90">
							<section layout="row" layout-align="start center">
								<md-button class="md-raised md-primary"
										   ng-click="ctrl.submitJobToCandidate()">Submit</md-button>
							</section>
						</div>
					</div>
					<div class="messages" ng-if="ctrl.submitmessage" ng-cloak>
						{{ctrl.submitmessage}}
					</div>
				</form>
			</div>
			<div flex="10"></div>
	    </md-content>


		<!--Angular -->
		<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="./bower_components/angular-cookies/angular-cookies.js"></script>

	    <!--Angular Material-->
		<script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="./bower_components/angular-aria/angular-aria.js"></script>
		<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

		<!--Loom API-->
		<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="./bower_components/loom-api-angular/loom.api.ng.1.1.0.js"></script>

		<!--Application-->
		<script type="text/javascript" src="./src/angular/recruitUnitApp.js"></script>
		<script type="text/javascript" src="./src/angular/controllers/SubmitJobCtrl.js"></script>
		
  	</body>
</html>
