<!DOCTYPE html>
<html lang="en" >
	<head>
		<title>RecruitUnit - Submit Job To Developer</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
		<link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
		<link rel="stylesheet" href="assets/app.css"/>
		<style type="text/css">
			.buttondemoBasicUsage section {
				background: #f7f7f7;
				border-radius: 3px;
				text-align: center;
				margin: 1em;
				position: relative !important;
				padding-bottom: 10px; }
			.buttondemoBasicUsage md-content {
				margin-right: 7px; }
			.buttondemoBasicUsage section .md-button {
				margin: 16px 10px 16px 10px;}
			.buttondemoBasicUsage .label {
				position: absolute;
				bottom: 5px;
				left: 7px;
				font-size: 14px;
				opacity: 0.54; 
				top: 40%;}
		</style>
	</head>

  	<body ng-app="recruitUnitApp">
	    <md-toolbar layout="row" class="md-whiteframe-z1">
	      <md-button class="menu">
	        <md-icon md-svg-icon="./assets/svg/menu.svg"></md-icon>
	      </md-button>
	      <h1>Recruit Unit - Submit Form To Developer</h1>
	    </md-toolbar>
	    
	    <md-content class="md-padding buttondemoBasicUsage">
		    <form name="submitJobFromRecruiter">
			    <section layout="row" layout-sm="column" layout-align="center center">
					<md-button class="md-raised">Button</md-button>
					<md-button class="md-raised md-primary">Primary</md-button>
					<md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
					<md-button class="md-raised md-warn">Warn</md-button>
					<div class="label">Raised</div>
			    </section>

				<section layout="row" layout-sm="column" layout-align="center center">
			        <md-input-container>
				      <label>Job Description</label>
				      <input ng-model="user.title">
				    </md-input-container>
			    </section>

			    <section layout="row" layout-sm="column" layout-align="center center">
			        <md-radio-group ng-model="data.group1">
				      <md-radio-button value="Permanent" class="md-primary">Permanent</md-radio-button>
				      <md-radio-button value="Contract"> Contract </md-radio-button>
				    </md-radio-group>
				    <div class="label">Role Type</div>
				</section>

			    <section layout="row" layout-sm="column" layout-align="center center">
				    <md-input-container>
				      <label>Pay Bracket</label>
				      <input ng-model="user.email" type="email">
				    </md-input-container>
			    </section>

			    <section layout="row" layout-sm="column" layout-align="center center">
				    <md-input-container>
				      <label>Location</label>
				      <input ng-model="user.email" type="email">
				    </md-input-container>
			    </section>

			    <section layout="row" layout-sm="column" layout-align="center center">
					<md-chips>
						<input type="text" placeholder="Enter info">
					</md-chips>
					<div class="label">Required Skills</div>
				</section>

				<section layout="row" layout-sm="column" layout-align="center center">
					<md-button type="submit" class="md-primary" 
	                    aria-label="Submit">
	                    Send
	               	</md-button>
               	</section>
			</form>
	    </md-content>

		<script src="./bower_components/angular/angular.js"></script>
		<script src="./bower_components/angular-animate/angular-animate.js"></script>
		<script src="./bower_components/angular-aria/angular-aria.js"></script>
		<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
		
		<script type="text/javascript">
          angular.module('recruitUnitApp', ['ngMaterial']);
    	</script>
  	</body>
</html>
